@model Finance.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>

<h2>Total Expenses: @Model.TotalExpenses.ToString("C")</h2>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Day</th>
            <th>Purchase Date</th>
            <th>Installments</th>
            <th>Current Installment</th>
            <th>Type</th>
            <th>Category</th>
            <th>Is Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.Value</td>
                <td>@item.Day</td>
                <td>@item.PurchaseDate?.ToString("dd/MM/yyyy")</td>
                <td>@item.Installments</td>
                <td>@item.CurrentInstallment</td>
                <td>@item.Type</td>
                <td>@item.Category?.Name</td>
                <td>
                    @if (item.IsPaidThisMonth)
                    {
                        <span class="material-symbols-outlined bg-success text-white rounded-circle">check</span>
                    }
                    else
                    {
                        <span class="material-symbols-outlined bg-danger text-white rounded-circle">close</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
