@model IEnumerable<Finance.Models.FinancialGoal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCompletion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcelaAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedCompletion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parcelas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParcelaAtual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallmentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="w-75">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex gap-2">
                <h5 class="card-title">Contas pagando</h5>
                <span class="material-symbols-outlined">
                    paid
                </span>
            </div>
            <a class="nav-link" href="@Url.Action("Create", "FinancialGoals")">
                <span class="material-symbols-outlined">
                    add
                </span>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20%;">Name</th>
                    <th style="width:25%">Termino Previsto</th>
                    <th class="d-none d-md-table-cell" style="width:25%">Parcelas</th>
                    <th>Description</th>
                    <th>Pago</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var goal in Model)
                {
                    if (goal.Status == "Pagando")
                    {
                        <tr>
                            <td>@goal.Name</td>
                            <td>@goal.EstimatedCompletion?.ToString("dd/MM")</td>
                            <td class="d-none d-md-table-cell">@goal.ParcelaAtual/@goal.Parcelas</td>
                            <td>@goal.Description</td>
                            <td>
                                @{
                                    if (goal.IsPaidThisMonth)
                                    {
                                        <span class="material-symbols-outlined">
                                            check
                                        </span>
                                    }
                                    else
                                    {
                                        @:Não
                                    }
                                }
                            </td>
                            <td>
                                @if (!goal.IsPaidThisMonth)
                                {
                                    <form asp-action="PayInstallment" method="post">
                                        <input type="hidden" name="id" value="@goal.Id" />
                                        <button type="submit" class="btn btn-success">
                                            Pagar
                                            <span class="material-symbols-outlined">
                                                savings
                                            </span>
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="w-25">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex gap-2">
                <h5 class="card-title">Contas a pagar</h5>
                <span class="material-symbols-outlined">
                    money_off
                </span>
            </div>
            <a class="nav-link" href="@Url.Action("Create", "FinancialGoals")">
                <span class="material-symbols-outlined">
                    add
                </span>
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var goal in Model)
                {
                    if (goal.Status != "Pagando")
                    {
                        <tr>
                            <td>@goal.Name</td>
                            <td>@goal.Status</td>
                            <td>@goal.Amount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
